* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(229 229 225);
  font-family: sans-serif;
}

h1 , h2 {
  font-family: Epilogue, Verdana, sans-serif;
}

#header-container {
  align-items: center;
  background-color: rgb(225, 225, 220);
  border-bottom: solid 1px rgb(223, 221, 221);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#left-midle-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#header-left-container {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

#title-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
  width: 450px;
}

#title {
  color: #002776;
}

#nav-header-container {
  display: flex;
  justify-content: flex-end;
}

.link {
  display: flex;
  margin-right: 0.8em;
  text-decoration: none;
}

main {
  margin: 0 15%;
  padding-top: 1%;
}

#front-cover-container {
  margin-top: 15%;
}

#front-cover {
  align-items: center;
  background-color: #ffdf00;
  display: flex;
  justify-content: center;
  min-height: 390px;
  min-width: 200px;
  text-align: center;
}

strong {
  color: #002776;
  font-size: 2em;
}

strong h1 p {
  font-size: 73%;
}

#front-cover-profile-picture {
  align-items: center;
  background: rgb(229, 229, 225);
  background: linear-gradient(0deg, rgba(229,229,225,1) 60%, rgba(255,223,0,1) 60%);
  display: flex;
  justify-content: center;
  text-align: center;
}

#profile-picture {
  border: solid 3px rgba(0, 39, 118, 0.76);
  border-radius: 50%;
}

#skills-section {
  margin-top: 5%;
  padding-top: 5%;
}

H2, H3 {
  color: #002776;
  text-align: center;
}

H3 {
  font-size: 1.5em;
  padding-bottom: 4%;
}

.skills-group-container {
  background-color: rgb(225, 225, 220);
  border-radius: 8px;
  border: solid 1px rgb(220, 220, 225);
  margin: 6% 0;
  padding: 5%;
}

.skills-list-container {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skills-list{
  -webkit-box-shadow: 0px 0px 18px -2px rgba(0,39,118,0.85); 
  box-shadow: 0px 0px 10px -2px rgba(0,39,118,0.25);
  margin: 0.5%;
  padding: 2% 1%;
  text-align: center;
  width: 200px;
}

.skills-list p {
  color: #002776; 
}

.projects-group-container {
  background-color: rgb(225, 225, 220);
  border-radius: 8px;
  border: solid 1px rgb(220, 220, 225);
  margin: 6% 0;
  padding: 5%;
}

.projects-list-container {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-container{
  -webkit-box-shadow: 0px 0px 18px -2px rgba(0,39,118,0.85); 
  align-items: center;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0px 0px 10px -2px rgba(0,39,118,0.25);
  display: flex;
  height: 200px;
  justify-content: center;
  margin: 3% 0.5%;
  opacity: 0.3;
  padding: 2% 1%;
  text-decoration: none;
  width: 430px;
} 

#personal {
  background: url(./home-imgs/projetos-pessoais-p-img.jpg);
  background-size: cover;
  margin-bottom: 4%;
  background-repeat: no-repeat;
}

#study {
  background: url(./home-imgs/projetos-de-estudo-p-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.project-container H4 {
  color: #021d53;
  font-size: 1.4em;
  opacity: 1;
  text-shadow: 
  -1px -1px 0px rgb(220, 220, 225),
  -1px 1px 0px rgb(220, 220, 225),                   
   1px -1px 0px rgb(220, 220, 225),                  
   1px 0px 0px rgb(220, 220, 225);

}

.project-container:hover {
  font-size: 1.05em;
  opacity: 0.8;
  transition: 0.3s;
}

#footer {
  margin: 30% -12px 0;
  text-align: center;
}

#phrase {
  background-color: #3b3b3b;
  margin-top: 5%;
  padding: 0.5% 0;
}

#signature {
  background-color: #2f2f2f;
  color: rgb(225, 225, 220);
  font-size: 12px;
  letter-spacing: 0.25em;
  padding: 3.3% 0;
}