* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(229 229 225);
  font-family: sans-serif;
}

h1 , h2 {
  font-family: Epilogue, Verdana, sans-serif;
}

#header-container {
  align-items: center;
  background-color: rgb(225, 225, 220);
  border-bottom: solid 1px rgb(223, 221, 221);
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#left-midle-container {
  /* border: solid 1px blue; */
  /* background-color: rgb(225, 225, 220); */
  /* border-bottom: solid 1px rgb(223, 221, 221); */
  /* width: 100%; */
  align-items: center;
  display: flex;
  /* margin: 0 4%; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */

}

#header-left-container {
  /* border: solid 1px green; */
  /* display: flex; */
  /* justify-content: center; */
  padding: 0.7vh 0;
}

#image-logo {
 width: 5vh;
 max-width: 100%;
 height: auto;
}

#title-container {
  /* border: solid 1px blue; */
  display: flex;
  justify-content: flex-start;
  /* margin-left: 3%; */
  /* font-size: 80%; */
  /* font-size: 0.7em; */
  font-size: 1.5vh;
  width: 100%;
  margin: 0 15%;
  margin-right: 20px;
}

#title {
  color: #002776;
  display: none;
}

.title-mobile {
  /* border: solid 1px red; */
  color: #002776;
  letter-spacing: 1.5px;
}

#nav-header-container {
  /* border: solid 1px blue; */
  display: flex;
  justify-content: flex-end;
  /* display: none; */
}

.link {
  display: flex;
  margin-right: 0.8em;
  text-decoration: none;
}

main {
  margin: 0 3.5%;
  padding-top: 10%;
}

#front-cover-container {
  /* border: solid 1px blue; */
  margin-top: 5vh;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
}

#front-cover-container p {
  margin-top: 2vh;
}

#front-cover {
  /* border: solid 1px green; */
  align-items: center;
  background-color: #ffdf00;
  display: flex;
  justify-content: center;
  min-height: 30vh;
}

strong {
  color: #002776;
  font-size: 3.2vh;
}

strong h1 p {
  font-size: 3.4vh;
}

#front-cover-profile-picture {
  /* align-items: center; */
  background: rgb(229, 229, 225);
  background: linear-gradient(0deg, rgba(229,229,225,1) 60%, rgba(255,223,0,1) 60%);
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

#profile-picture {
  border: solid 3px rgba(0, 39, 118, 0.76);
  border-radius: 50%;
  width: 12vh;
  max-width: 100%;
  height: auto;
}

#skills-section {
  /* border: solid 1px blue; */

  margin-top: 6.5vh;
  padding-top: 3vh;
}

H2, H3 {
  color: #002776;
  text-align: center;
}

H3 {
  font-size: 3.3vh;
  padding-bottom: 3vh;
}

.skills-group-container {
  /* border: solid 1px red; */

  background-color: rgb(225, 225, 220);
  border-radius: 8px;
  border: solid 1px rgb(220, 220, 225);
  margin: 6vh 0;
  padding: 5vh 1.5vh;
}

.skills-list-container {
  /* border: solid 1px green; */

  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skills-list{
  -webkit-box-shadow: 0px 0px 18px -2px rgba(0,39,118,0.85); 
  box-shadow: 0px 0px 10px -2px rgba(0,39,118,0.25);
  margin: 0.5vh 0;
  padding: 0.4vh 0;
  text-align: center;
  width: 21vh;
  display: flex;
  /* align-content: center; */
  align-items: center;
  justify-content: center;
  /* justify-items: center; */

}

.skills-list p {
  color: #002776;
  font-size: 1.9vh;
}

.projects-group-container {
  background-color: rgb(225, 225, 220);
  border-radius: 8px;
  border: solid 1px rgb(220, 220, 225);
  margin: 6% 0;
  padding: 5%;
}

.projects-list-container {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-container{
  -webkit-box-shadow: 0px 0px 18px -2px rgba(0,39,118,0.85); 
  align-items: center;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0px 0px 10px -2px rgba(0,39,118,0.25);
  display: flex;
  height: 200px;
  justify-content: center;
  margin: 3% 0.5%;
  opacity: 0.3;
  padding: 2% 1%;
  text-decoration: none;
  width: 430px;
} 

#personal {
  background: url(./home-imgs/projetos-pessoais-p-img.jpg);
  background-size: cover;
  margin-bottom: 4%;
  background-repeat: no-repeat;
}

#study {
  background: url(./home-imgs/projetos-de-estudo-p-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.project-container H4 {
  color: #021d53;
  font-size: 1.4em;
  opacity: 1;
  text-shadow: 
  -1px -1px 0px rgb(220, 220, 225),
  -1px 1px 0px rgb(220, 220, 225),                   
   1px -1px 0px rgb(220, 220, 225),                  
   1px 0px 0px rgb(220, 220, 225);

}

.project-container:hover {
  font-size: 1.05em;
  opacity: 0.8;
  transition: 0.3s;
}

#footer {
  margin: 30% -12px 0;
  text-align: center;
}

#phrase {
  background-color: #3b3b3b;
  margin-top: 5%;
  padding: 0.5% 0;
}

#signature {
  background-color: #2f2f2f;
  color: rgb(225, 225, 220);
  font-size: 12px;
  letter-spacing: 0.25em;
  padding: 3.3% 0 6%;
}